.form-wrapper {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 14px;
}

.create-post-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 1px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;

}

.create-post-details {
  margin-left: 20px;
}

.post-input {
  grid-column: 1/4;
  margin: 2px;
}

.post-body {
  grid-column: 3/3;
  margin: 2px;
}
