.comments-grid {
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  grid-gap: 1em;
}

/* commentDetail Component */
.comment {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 1fr;
  background: #fafae8;
  margin-top: 2px;
  border-color: #ddd;
  border: 4px;
  padding-top: 5px;
  justify-self: auto;
}

.comment-author {
  grid-column: 2/2;
  grid-row: 1/1;
  font-style: italic;
  justify-self: start;
  padding-left: 7%;
  font-size: 13px;
}

.comment-date-time {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-self: start;
  font-size: 12px;
}

.comment-content {
  grid-column: 3/5;
  grid-row: 1/2;
  justify-self: start;
  padding-left: 2%;
  font-size: 12px;
}


.comment-rating {
  grid-column: 6/6;
  grid-row: 1/2;
  justify-self: end;
  font-size: 12px;
}

.delete-comment {
  grid-column: 7/7;
  grid-row: 2/2;
  width: 10px;
  height: 16px;
  justify-self: right;
  background-image: url('../../../style-elements/icons/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
  font-size: 0;
  margin-bottom: 2px;
}

.edit-comment {
  grid-column: 7/7;
  grid-row: 1/1;
  width: 10px;
  height: 16px;
  justify-self: right;
  background-image: url('../../../style-elements/icons/edit.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
  font-size: 0;
}

.upvote-comment {
  grid-column: 6/6;
  grid-row: 2/2;
  width: 12px;
  height: 15px;
  justify-self: right;
  margin-left: 1px;
  background-image: url('../../../style-elements/icons/arrow-up.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  font-size: 0;
}

.downvote-comment {
  grid-column: 6/6;
  grid-row: 2/2;
  width: 12px;
  height: 15px;
  justify-self: left;
  background-image: url('../../../style-elements/icons/arrow-down.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  font-size: 0;
}

.comment-voting {
  grid-column: 3/5;
  justify-self: middle;
}

.add-comment {
  margin-bottom: 6px;
}
