/*MainPage Component */
.wrapper {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-column-gap: 3px;
	margin-top: 1%;
	margin-bottom: 50px;
	font-size: 14px;
}

.wrapper > div {
	background: #f5f5f5;
	padding: 1em;
}

/* CategoryMenu Component */
.category {
	background: #dde5f0;
	justify-self: start;
	font-size: 14px;
	margin: 6px;
}

/* Posts Component */
.post-filter {
	color: #bfc6d9;
}
