.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 3px;
  margin-top: 1%;
  margin-bottom: 50px;
  font-size: 14px;
}

.wrapper > div {
  background: #f5f5f5;
  padding:1em;
}

.categoryMenu {

}

.category {
  background: #dde5f0;
  justify-self: start;
  font-size: 14px;
}

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  grid-gap: 2em;
}

.post {
  grid-column: 1/4;
  display: grid;
  background: #ede4e4;
  margin-top: 2px;
  padding-top: 5px;
  justify-self: auto;
}

.post-title {
  grid-column: 1/4;
  grid-row: 1/1;
  justify-self: start;
  padding-left: 2%;
  font-weight: bold;
  font-size: 14px;
}

.post-author {
  grid-column: 1/1;
  grid-row: 2/2;
  font-style: italic;
  justify-self: start;
  padding-left: 7%;
  font-size: 13px;
}

.post-date-time {
  grid-column: 2/2;
  justify-self: start;
  font-size: 12px;
}

.post-content {
  grid-column: 1/4;
  justify-self: start;
  padding-left: 2%;
  font-size: 12px;
}

.post-interaction {
  grid-column: 1/4;
  justify-self: middle;
}
