
/*MainPage Component */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 3px;
  margin-top: 1%;
  margin-bottom: 50px;
  font-size: 14px;
}

.wrapper > div {
  background: #f5f5f5;
  padding:1em;
}


/* CategoryMenu Component */
.category {
  background: #dde5f0;
  justify-self: start;
  font-size: 14px;
}

/* Posts Component */
.posts-wrapper {
  display: grid;
}

.post-filter {
  color: #ede4e4
}
.posts-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 2em;
}

/* PostDetail Component */
.post {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  background: #ede4e4;
  margin-top: 2px;
  padding-top: 5px;
  justify-self: auto;
}

.post-title {
  grid-column: 1/3;
  grid-row: 1/1;
  justify-self: start;
  padding-left: 2%;
  font-weight: bold;
  font-size: 14px;
}

.post-author {
  grid-column: 1/1;
  grid-row: 2/2;
  font-style: italic;
  justify-self: start;
  padding-left: 7%;
  font-size: 13px;
}

.post-date-time {
  grid-column: 2/2;
  justify-self: start;
  font-size: 12px;
}

.post-content {
  grid-column: 1/4;
  justify-self: start;
  padding-left: 2%;
  font-size: 12px;
}

.post-actions {
  display: grid;
}

.delete-post {
  grid-column: 5/5;
  grid-row: 1/1;
  width: 20px;
  height: 30px;
  background-image: url('../style-elements/icons/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  font-size: 0;
  margin-bottom: 2px;
}

.edit-post {
  grid-column: 4/5;
  grid-row: 1/1;
  width: 20px;
  height: 30px;
  background-image: url('../style-elements/icons/edit.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 0;
}

.post-voting {
  grid-column: 2/4;
  justify-self: middle;
}
