.post-wrapper {
	display: flex;
}

.go-back {
	flex: 1;
	order: 1;
	width: 40px;
	height: 100px;
	background-image: url('../../../style-elements/icons/arrow-back.svg');
	border-color: #ddd;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px;
	font-size: 70;
	margin-top: 3px;
}

.post {
	flex: 1;
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background: #e8effa;
	margin-top: 5px;
	padding-top: 5px;
	justify-self: auto;
}

.post-title {
	flex: 1;
	align-self: flex-start;
	padding-left: 2%;
	font-weight: bold;
	font-size: 14px;
}

.post-detail {
	flex: 1;
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	justify-content: flex-end;
}

.post-created {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-left: 5%;
}

.post-author {
	align-self: flex-start;
	font-style: italic;
	font-size: 13px;
}

.post-date-time {
	align-self: flex-start;
	font-size: 12px;
}

.post-no-of-comments {
	align-self: center;
}

.post-rating {
	flex: 1;
	align-items: flex-end;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.upvote-post {
	flex: 1;
	width: 20px;
	height: 20px;
	justify-self: right;
	margin-right: 1px;
	background-image: url('../../../style-elements/icons/arrow-up.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	font-size: 0;
}

.downvote-post {
	flex: 1;
	width: 20px;
	height: 20px;
	justify-self: left;
	background-image: url('../../../style-elements/icons/arrow-down.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	font-size: 0;
}

.post-actions {
	flex: 1;
	display: flex;
	align-items: flex-end;
	padding-right: 10px;
	flex-direction: column;
}

.delete-post {
	flex: 1;
	order: 2;
	width: 20px;
	height: 30px;
	background-image: url('../../../style-elements/icons/delete.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
	font-size: 0;
}

.edit-post {
	flex: 1;
	order: 1;
	width: 20px;
	height: 30px;
	background-image: url('../../../style-elements/icons/edit.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	font-size: 0;
	margin-bottom: 4px;
}

.post-content {
	flex: 1;
	width: 80%;
	align-self: center;
	text-align: left;
	border: 1px;
	border-style: solid;
	border-color: #fefefe;
	background: #f0f5fc;
	padding: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 14px;
	font-weight: bolder;
}
